h1 { 
	color: indianred; 
	}

img { 
	width: 400px; 
	}
	
#thirdDiv { 
	height: 600px;
	width: 500 px;
	background-color: lightcyan;
	padding: 50px;
	border: 3px solid black; 
}
	
#spanId {
	font-size: 18px;
	margin: 50px;
}